
body {
    background-color: rgb(255,10,0);
}



.intro{    
    padding: 20%;
    background: url("imgs/skyline-pattern.png");
    background-repeat: no-repeat;
    background-size: 30% 30%;
    background-position-x: 50%;
    background-position-y: 90%;

    /* Hover Off */
    -webkit-transition: 0.6s;
    
}

.intro:hover{
   
    padding: 20%;
    background: url("imgs/skyline-pattern-hover.png");
    background-repeat: no-repeat;
    background-size: 50% 50%;
    background-position-x: 50%;
    background-position-y: 50%;

    /* Hover On */
    -webkit-transition: 0.6s;
}



