.container2 {
	margin: 0px;
	background: radial-gradient(#000000, rgb(235, 0, 0));
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}
.container {
	width: 350px;
	height: 350px;
	border-radius: 100%;
	background: linear-gradient(165deg, rgb(250, 0, 0) 0%, rgb(250, 0, 0) 40%, rgb(56, 0, 0) 98%, rgb(10, 10, 10) 100%);
	position: absolute;
}
.loader {
	
}

.loader:before {
	position: absolute;
	content: '';
	width: 100%;
	height: 100%;
	border-radius: 100%;
	border-bottom: 0 solid #ffffff05;
	
	box-shadow: 
		0 -10px 20px 20px #4b000040 inset,
		0 -5px 15px 10px #5800008a inset,
		0 -2px 5px #5a000080 inset,
		0 -3px 2px #8b0000bb inset,
		0 2px 0px #ff0404,
		0 2px 3px #ff0000,
		0 5px 5px #580000a8,
		0 10px 15px #46000083,
		0 10px 20px 20px #ff1c1c57;
	filter: blur(3px);
	animation: 2s rotate linear infinite;
}

@keyframes rotate {
	100% {
		transform: rotate(360deg)

	}
}